<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css" />
</head>
<body><br><br><br><br><br><br><br>
    <h1>Sign Up</h1><br><br>

    <form action="/auth/signup" method="POST">
        <span class="name items">Name: </span><input class="input" type="text" name="name" placeholder="First and Last Name" /><br>
        <span class="teamName items">Team Name: </span><input class="input" type="text" name="teamName" placeholder="Create Team Name" /><br>
        <span class="username items">Username: </span><input class="input" type="text" name="username" placeholder="Username" /><br>
        <span class="password items">Password: </span><input class="input" type="text" name="password" placeholder="Password" /><br><br>
        <input class="button-hover" id="editButton" type="submit" name="" value="Sign Up" />
    </form>
    <% if (error) { %>
        </br><h3>Username Taken</h3>
    <% } %>
    </br><h3 id="homeButton"><a href="/">Return to Welcome Page</a></h3>
</body>
</html>