body {
    background-image: url("https://i.pinimg.com/originals/f6/ea/00/f6ea000fea4f2e267ffe7ad0d1bc474c.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    text-align: center;
  
}

h1 {
    color: #F2F4FF;
    font-size: 6vh;
    text-align: center;
    padding: 0px;
    display: inline-block;
    background-color: #0D0106;
    border: 5px solid #29339B;
    border-radius: 5px;
    padding: 5px;
}
h3 {
    color: white;
    background-color: #0D0106;
    border: 5px solid #29339B;
    border-radius: 5px;
    padding: 5px;
    width: 14vw;
    margin: 20px auto;
}
#homeButton:hover {
    color: white;
    background-color: #29339B;
    border: 5px solid #0D0106;
}
a {
    color: #F2F4FF;
    text-decoration: none;
}

#signup-box {
    font-size: 4vh;
    padding: 10px 100px;
    background-color: #0D0106;
    border: 5px solid #29339B;
    border-radius: 5px;
}

#login-box {
    font-size: 4vh;
    padding: 10px 100px;
    background-color: #0D0106;
    border: 5px solid #29339B;
    border-radius: 5px;
}

input {
    border: 2px solid black;
    border-radius: 5px;
}

.input {
    font-size: 20px;
}

.items {
    font-size: 20px;
    color: #F2F4FF;
    background-color: #0D0106;
    border: 2px solid #29339B;
    padding-left: 5px;
    margin-right: 10px;
}

.name {
    padding-right: 50px;
    margin-bottom: -2px;
}

.teamName {
    padding-right: 1px;
}

.username {
    padding-right: 17px;
}

.password {
    padding-right: 21px;
}

.nav-container {
    display: grid;
    grid-template-columns: 25vw 25vw 25vw;
    grid-template-rows: 6vh 6vh;
    justify-content: center;
    font-size: 2vw;
    height: 12vh;
    width: 75vw;
    margin: 0 auto;
    border: 2px solid #29339B;
}

.container-items {
    display: flex;
    justify-content: center;
    align-content: center;
}

.container-item {
    margin: auto;
}

#profile {
    grid-column: 1;
    grid-row: 1;
    background-color: #0D0106;
    border: 2px solid #29339B;
}

#roster {
    grid-column: 1;
    grid-row: 2;
    background-color: #0D0106;
    border: 2px solid #29339B;
}

#league {
    grid-column: 2;
    grid-row: 1;
    background-color: #0D0106;
    border: 2px solid #29339B;
}

#players {
    grid-column: 3;
    grid-row: 1;
    background-color: #0D0106;
    border: 2px solid #29339B;
}

#search {
    grid-column: 3;
    grid-row: 2;
    background-color: #0D0106;
    border: 2px solid #29339B;
}

#rules {
    grid-column: 2;
    grid-row: 2;
    background-color: #0D0106;
    border: 2px solid #29339B;
}

#logout-box {
    font-size: 20px;
    padding: 10px 100px;
    background-color: #0D0106;
    border: 2px solid #29339B;
}

#profile:hover, #rules:hover, #search:hover, #roster:hover, #league:hover, #players:hover, #logout-box:hover, #signup-box:hover, #login-box:hover {
    text-decoration: underline;
    background-color: #29339B;
    border: 5px solid #0D0106;
    border-radius: 5px
}

#editButton {
    font-size: 18px;
}

#profile-page {
    grid-column: 1;
    grid-row: 1;
    text-decoration: underline;
    background-color: #29339B;
    border: 3px solid #29339B;
}

.button-hover {
    background-color: #29339B;
    border: solid #29339B 3px;
    border-radius: 3px;
    color: white;
}

.button-hover:hover {
    background-color: white;
    border: solid white 3px;
    color: #29339B;
}