body {
    background-image: url("https://i.pinimg.com/originals/f6/ea/00/f6ea000fea4f2e267ffe7ad0d1bc474c.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;    
    background-size: 100% 100%;
    color: white;
}
h1 {
    background: #0D0106;
    border: solid #29339B 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 3vw;
    width: 40vw;
    margin: 2vh auto;
    padding: 5px;
}
.nav-container {
    display: grid;
    grid-template-columns: 25vw 25vw 25vw;
    grid-template-rows: 7vh 7vh;
    justify-content: center;
    font-size: 1.75vw;
    height: 14vh;
    width: 75vw;
    margin: 0 auto;
    border: 5px solid #29339B;
    background: #0D0106;
    border-radius: 5px;
}
a {
    color: #F2F4FF;
    text-decoration: none;
}
.container-items {
    display: flex;
    justify-content: center;
    align-content: center;
}

.container-item {
    margin: auto;
}

#profile {
    grid-column: 1;
    grid-row: 1;
    background-color: #0D0106;
    border: 2px solid #29339B;
}

#roster {
    grid-column: 1;
    grid-row: 2;
    background-color: #0D0106;
    border: 2px solid #29339B;
}

#league {
    grid-column: 2;
    grid-row: 1;
    background-color: #0D0106;
    border: 2px solid #29339B;
}

#players {
    grid-column: 3;
    grid-row: 1;
    background-color: #0D0106;
    border: 2px solid #29339B;
}

#search {
    grid-column: 3;
    grid-row: 2;
    background-color: #0D0106;
    border: 2px solid #29339B;
}

#rules {
    grid-column: 2;
    grid-row: 2;
    background-color: #0D0106;
    border: 2px solid #29339B;
}

#logout-box {
    font-size: 20px;
    padding: 10px 100px;
    background-color: #0D0106;
    border: 5px solid #29339B;
}

#profile:hover, #rules:hover, #search:hover, #roster:hover, #league:hover, #players:hover, #logout-box:hover, #signup-box:hover, #login-box:hover {
    text-decoration: underline;
    background-color: #29339B;
    border: 5px solid #0D0106;
}
#teamScroll {
    width: 75vw;
    border: 5px solid #29339B;
    border-radius: 5px;
    background: #0D0106;
    overflow: auto;
    margin: 2vh auto;
    scroll-padding: 10px;
}
#teamTable {
    width: 75vw;
    background: #0D0106;
    padding: 5px 5px 10px 5px;
    border-spacing: 0px;
}
th {
    background-color: #0D0106;
    font-size: 2.25vw;
    color: white;
    position: sticky;
    top: 0;
    border-bottom: 5px solid #29339B;
}
td {
    text-align: center;
    font-size: 1.75vw;
    padding: 10px;
}

.playerInfo a {
    text-decoration: underline;
}
.playerInfo a:hover {
    color: blue;
}

#league-page {
    grid-column: 2;
    grid-row: 1;
    text-decoration: underline;
    background-color: #29339B;
    border: 3px solid #29339B;
}

.logout-container {
    text-align: center;
}