<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/players.css" />
</head>
<body>
    <h1>League Rules</h1>
    <div class="nav-container">
        <div class='container-items' id='profile'><a class='container-item' id='profile-box' href="/users/profile">Your Profile</a></div>
        <div class='container-items' id='roster'><a class='container-item' id='roster-box' href="/rosters">Your Roster</a></div>
        <div class='container-items' id='league'><a class='container-item' id='league-box' href="/rosters/league">League</a></div>
        <div class='container-items' id='players'><a class='container-item' id='players-box' href="/rosters/availablePlayers">Filter Players</a></div>
        <div class='container-items' id='search'><a class='container-item' id='players-box' href="/rosters/search">Search Players</a></div>
        <div class='container-items' id='rules-page'><a class='container-item' id='players-box'>League Rules</a></div>
    </div><br>
    <ul>
        <li>
            1. Each user can only have one team in the league and each team can only have a total of 9 players on their team.
        </li>
        <li>
            2. Each team must abide by the position requirements. This means 1 QB, 2RB, 2WR, 1TE, 1FLEX, 1DST, and 1K.
        </li>
        <li>
            3. In Rule 2, you can see the FLEX position. This position means that if you already have 2RB's, 2WR's, or 1TE, you can add one more
            of any of these positions and that player will become your "FLEX".
        </li>
        <li>
            4. Players are allowed to be added and dropped by any team at any time, once they are, they are free game for any other team to scoop up.
        </li>
        <li>
            5. Lastly, have fun building your dream team.
        </li>
    </ul><br><br><br>
    <div class="logout-container">
        <div ><a class='container-item' id='logout-box' href="/">Log Out</a></div>
    </div>
</body>
</html>